openai_api_key = '<>'

models = (
    'gpt-4',
    'gpt-3.5-turbo',
    'gpt-3.5-turbo-16k',
)


longs_examiner_system = 'You are an examiner. User will give you a question, a student response and a true answer. Respond just an integer between 0 and 10, score of the student for this question.'


reported_system_prompts = {}

terms_system = [
    'You are a helpful assistant.',

    'You are an exam taker. User will give you a question Respond with the correct answer.',

    'You are the best and most experienced epidemiologist expert. Your task is to provide \
        the best and most intricate definition of a term for a dictionary. Respond with an \
        exact, to the point and detailed, answer.'
]

multiple_choice_system = [
    'You are an exam taker. User will give you a question and four options. Respond just \
        an integer, number of the correct answer and nothing else.',

    'You are the best epidemiologist professor with the ability to analyze every question, \
        break it down into little pieces and then solve the pieces to conclude correct \
        answers for complicated questions. User will give you a question and four \
        options.For the given question, respond with this "ANS: [number of correct \
        option]" number of correct option is just an integer between 1 to 4. Write \
        nothing after that, not even a dot. Do your best to pick the correct option. \
        Your answer should look like this: "ANS: 3". Here 3 was the correct option.',

    'You are the best epidemiologist professor with the ability to analyze every \
        question, break it down into little pieces and then solve the pieces to \
        conclude the correct option for complicated questions. User will give you \
        a question and four options. For the given question, first write all of the \
        epidemiology terms mentioned in the question. Then analyze every bit of \
        information you have and devise the best strategy leading to the right answer. Then \
        end it with this "ANS: [number of correct option]" number of correct options \
        is just an integer between 1 to 4. Write nothing after that, not even a dot. \
        Do your best to pick the correct option. Your answer should look like this: \
        "ANS: 3". Here 3 was the correct option.'
]

longs_system = [
    'You are a helpful assistant',

    'You are an exam taker. User will give you a question Respond with the correct answer.',

    'You are the best and most experienced epidemiologist expert. Your task is to provide \
        the best and most intricate answer for a question. Respond with an exact, \
        to the point and detailed, answer.'
]

reported_system_prompts['terms'] = terms_system
reported_system_prompts['multiple_choice'] = multiple_choice_system
reported_system_prompts['longs'] = longs_system